<p>
I'm a master's student in Computer Science at Stanford University, specializing in Artificial Intelligence. I'm broadly interested in applying machine learning to high-impact problems in learning and robotics.
</p>

<p>
Most recently, I worked on building LLM-based title generation for Docs at <a href="https://www.google.com/" target="_blank">Google</a> and on improving content demand modeling at <a href="https://www.netflix.com/" target="_blank">Netflix</a>.
</p>

<p>
I completed my undergraduate degree in Computer Science from UC Berkeley. I was a research assistant at <a href="https://bair.berkeley.edu/" target="_blank">BAIR</a> in Professor Goldberg's <a href="https://autolab.berkeley.edu/" target="_blank">AUTOLab</a>, where I worked on robot grasping and cable manipulation using analytic theory and deep learning.
While at Berkeley,  I interned at <a href="https://about.meta.com/" target="_blank">Meta</a> on recommendation systems, at <a href="https://carohq.com/" target="_blank">Caro</a> on full-stack development, and at <a href="https://abacus.ai/" target="_blank">Abacus.AI</a> on anomaly detection.
</p>

<p>
I love teaching, and was a TA for  <a href="https://web.stanford.edu/class/cs234/" target="_blank">Reinforcement Learning</a> in Winter 2026 and previously for <a href="https://www.eecs70.org/" target="_blank">Discrete Math</a> at Berkeley :)
</p>

<p>
In my free time, I enjoy playing ultimate frisbee with <a href="https://stanfordclubsports.com/sports/womens-ultimate" target="_blank">Stanford Women's Ultimate</a> and am currently a co-captain of the B team, Firefly.
</p>
