<head>
<link rel="stylesheet" href="../css/style.scss">
</head>

<h2>Projects</h2>

<!-- insert text and image side by side -->
<div class="row">
  <div class="col-md-4" style="display: flex; align-items: center; padding-top: 50px;">
    <p style="margin: 0;">
      <img src="img/CookieBot.png" style="width: 100%;">
    </p>
  </div>
  <div class="col-md-8">
    <p>
        <b>CookieBot: Automated Cookie Making with Dual Robot System</b>
    </p>
    <p>
        <!-- add author list -->
        Aditya Dutt, <b>Mallika Parulekar</b>, Aaarya Sumuk, Harshvardhan Agarwal
    </p>
    <p>
        Stanford Robotics Center, 2025.
    </p>
    <p>
        <a href="https://drive.google.com/file/d/1ZGL_9ay89he80Zp82YwtGZEyOPjarhko/view?usp=sharing">[Paper]</a>
    </p>
    <p>
        Built and designed a 2 robot system to cut, handoff, and flatten cookie dough slices using 3D printed tools. Used Grounded Dino and Segment Anything (SAM) for vision.
    </p>
    <!-- <p>
        <a href="https://arxiv.org/abs/2003.13969">[Paper]</a>
        <a href=" -->
  </div>
</div>

<div class="row">
  <div class="col-md-4" style="display: flex; align-items: center; padding-top: 50px;">
    <p style="margin: 0;">
      <img src="https://raw.githubusercontent.com/mallikaparulekar/ultimate_vision/main/data/9wrmb5.gif" alt="Ultimate Vision tracking demo" style="width: 100%;">
    </p>
  </div>
  <div class="col-md-8">
    <p>
        <b>Ultimate Vision: Vision-based Autoregressive Frisbee Tracking System</b>
    </p>
    <p>
        <b>Mallika Parulekar</b>, Yash Kankariya
    </p>
    <p>
        Stanford CS 231N.
    </p>
    <p>
        <a href="https://drive.google.com/file/d/1EvFLnNHm58cuGjRbIIx-UzYkFI1MdGOd/view?usp=sharing" target="_blank">[Paper]</a>
        <a href="https://github.com/mallikaparulekar/ultimate_vision" target="_blank">[Code]</a>
    </p>
    <p>
        Created Ultimate Vision, a hybrid tracking system designed to localize the frisbee over multiple frames using a combination of zero-shot segmentation models and a custom trained ResNet with a regression head.
    </p>
  </div>
</div>
